<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>09_列表渲染</title>
</head>
<body>
<!--
1. 遍历显示数组 : v-for / $index
2. 遍历显示对象 : v-for / $key
3. 扩展数组的方法:
  $set(index, value): 在指定下标处设置新的值
  $remove(value): 移除数组中某个元素
-->

<div id="demo">

  <h2>测试: v-for 遍历数组</h2>
  <ul>
    <li v-for="p in persons | filterBy 'o' in 'name'" track-by="$index">
      {{$index}}---{{p.name}}---{{p.age}}
      ---<button @click="deleteItem(p)">删除</button>
      ---<button @click="updateItem(p, {name:'Cot', age:15})">更新</button>
    </li>
  </ul>

  <h2>测试: v-for 遍历对象</h2>
  <ul>
    <li v-for="item in persons[1]">{{$key}}---{{item}}</li>
  </ul>
</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el : '#demo',
    data : {
      persons: [
        {name: 'Jack', age: 14},
        {name: 'Tom', age: 12},
        {name: 'Bob', age: 13}

      ]
    },
    methods : {
      /*deleteItem(index) {
        console.log('deletetem  ', index)
        this.persons.splice(index, 1)
      }*/
      deleteItem(p) {
        //先计算出下标, 再删除
//        const index = this.persons.indexOf(p)
//        this.persons.splice(index, 1)
        //使用扩展的数据方法
        this.persons.$remove(p)
      },

      updateItem(oldP, newP) {
        const index = this.persons.indexOf(oldP)
        // this.persons[index] = newP //不会更新界面(没办法监视)
        this.persons.$set(index, newP)
      }
    },

    computed : {

    }
  });
</script>
</body>
</html>